    li {
    list-style-type: none; /* Убираем маркеры */
   }
ol {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.catched{
    background: #b8dfcc;
}
.dropped{
    background: white;
    
    
    
}.panels-flexible-region.panels-flexible-region-16-right_.panels-flexible-region-last{
           width:100px;
           float:right;
           max-heigt:50px;
           max-width: 150px;
           text-align: center;
           text-weight: bold;
           font-size: 20px;
           margin-top:50px;
         

}
 
.custom-class-node-title{
    margin-left: 50%;
    font-size: 36px;
    margin-top:50px;
    margin-bottom:50px;

}
.custom-class-node-title a{
text-decoration: none;

}
.page-header{
    text-align: center;
}
.add-ticket-custom-button{
 
}
#custom_main_content{
 
    max-width: 80%;
}
#custom_page_header{
    text-align: center;
}
#custom_email{
    font-size: 10px;
}
.block-title{
      font-size: 14px;

    font-weight: bold;

}
#custom_table {
     margin-bottom: 0px;
 


      border-bottom: 1px solid #ddd;
   border-left: 1px solid #ddd;
   border-right: 1px solid #ddd;
     
}
 
.table {
    margin-bottom: 0px;
    
}
.custom_caption{
    padding-left: 10px;
      padding-top: 0px;  
     padding-bottom: 0px;
     
}
#custom_table .views-field-title {
       padding-left: 20px;
       max-width: 200px;
}
 
table .custom_td{
    
}
.views-field.views-field-title{
    text-align: center;
        margin-top: 4px;

}
.views-field.views-field-nid{
    opacity:0;

}
.views-field.views-field-field-type{
        opacity:0;
}
.views-field.views-field-field-description{
    margin-left: 10px;
    margin-top: 10px;
    
}
.views-field.views-field-field-responsible{
    margin-left: 10px;
    margin-top: 10px;
    position:absolute;
    bottom:0;
}

.views-field.views-field-field-description{
    margin-left: 10px;
  
    
    
}
.pane-title {
        text-align: center;
        margin-bottom: 20px;
            margin-top: -10px;

}
.custom-row-class{
        position:relative;

   width:116px;
   height:  130px;
   margin-bottom: 0px;
   border: 1px solid #ddd;
 
   margin-bottom: 5px;
  
    margin-left: 25%;
   
}


.item-list{
    min-height: 300px;
}
.ui-droppable{
    min-height: 800px;
}
.panel-pane.pane-views.pane-user-tickets.pane-title{
  
}
#custom-h6-project-style {
    
     text-align: left;
     margin-top: 0;
     margin-bottom: 0;
      
     heigt: 160%;
     font-size: 17px;
     background-color: #d7dade;
}
 td.views-field.views-field-title{
      text-align: left;
      margin-left: 20px;
 }
 th.views-field.views-field-title{
      text-align: left;
      margin-left: 20px;
 }
.panels-flexible-region.panels-flexible-region-17-center{
     line-height: 22px;
 }
 #block-ctools-user-mail{
      line-height: 20px;
 }
 .block-title{
          margin-top: 0;
     margin-bottom: 3px;
 }
 #custom-add-new-skill{
     
           float:right;
            
           max-width: 150px;
           
            font-size: 20px;
           width: 100px;
            margin-left:200px;
            
 }
 
#custom-add-new-skill a{
          color: white;
     margin-left: 7px;
 }
 .rounded-shadow-background{
    
     width: 100px;
 }
 
 .table-responsive {
     margin-bottom:-20px;
 }
 .panel-pane.pane-entity-field.pane-user-field-main-image img{
     height: 170px;
 }
 
 #custom-h6-team-style{
          text-align: left;
     margin-top: 0;
     margin-bottom: 0;
      
     heigt: 160%;
     font-size: 27px;
     background-color: #d7dade;
 }
 
 div #custom-add-new-team-member{
           height:30px;
    
      
 }
.panels-flexible-6{
    padding: 0;
}
 
#ticket-body{

    width: 50%;
    margin: 0 31%;
    

}
#project-body{
 
    margin:0 5%  
}
#custom-add{

         text-align: center;  
         margin-right: 10px;

}
#custom-edit{
      
     text-align: center;
     margin-right: 10px;
}
#custom-delete{
  
     text-align: center;
     margin-right: 10px;
}



#custom-add a{
      color: white;


}
#custom-edit a{
      color: white;
 
}
#custom-delete a{
      color: white;

}
 
#panels-ipe-display-panel-context-page-pm-admin-page-pm-admin-panel{
      width: 50%;
    margin: 0 31%;
    
}
.custom-button-add-to-team{
     margin-left: -50px;
    background-color: #4334c0;
    color:white;
    border-radius: 10px;
    width:130px;
    height: 50px;
       font-size: 15px;
       font-weight:600;
          margin-top: 143px;
     
       margin-left: 170px;


}
 
.custom-button-dashboard{
    background-color: #4334c0;
    color:white;
    border-radius: 10px;
    width:130px;
    height: 50px;
    font-weight:600;
    font-size: 20px;
    margin-top:2px;
}
.custom-button-add-skill{
   background-color: #4334c0;
    color:white;
    margin: 10px;
 
    border-radius: 10px;
    width:130px;
    height: 50px;
    font-weight:600;
    font-size: 20px;
    margin-left: -500px;
      
}
.custom-button-timesheets{
   background-color: #4334c0;
    color:white;
    margin: 10px;
 
    border-radius: 10px;
    width:130px;
    height: 50px;
    font-weight:600;
    font-size: 20px;
   
      
}

.custom-button-timesheets-plus {
     background-color: white;
     border:0;
      font-size: 17px;
}
.custom-button-add-ticket{
    background-color: #4334c0;
    color:white;
    border-radius: 10px;
    width:130px;
    height: 50px;
    font-weight:600;
    font-size: 20px;
 
    
    
}
.custom-button-add-new-ticket{
      margin-left: -15px;
      background-color: #4334c0;
        color:white;
    border-radius: 10px;
    width:80px;
    height: 50px;
    font-weight:600;
    font-size: 23px;
    margin-right: 180px;
    margin-bottom:20px;
        text-align: center;

}

.custom-button-edit-the-ticket{
          background-color: green;
        color:white;
    border-radius: 10px;
    width:80px;
    height: 50px;
    font-weight:600;
    font-size: 23px;
     margin-bottom:20px;
        text-align: center;
       margin-top: -72px;
      margin-left: -55px;
position: absolute;
    
}

.custom-button-delete-the-ticket{
    background-color: red;
    color:white;
    border-radius: 10px;
    width:80px;
    height: 50px;
    font-weight:600;
    font-size: 23px;
    margin-top: -2px;
    margin-left:-65px;  
    text-align: center;
     margin-left: 215px;
      margin-top: -72px;
             
       margin-left: 30px;
position: absolute;
}

.projects_image{
        margin-right:-80px;

     height: 165px;
    width:300px;
    background-image: url(../img/projects.jpeg);
   
}
a .projects_image {
 text-align: center;
  padding-top: 169px;

}
.employees_image{
    margin-left:-90px;
    height: 165px;
    width:300px;
    background-image: url(../img/employees.jpg);
    text-align: center;
}
a .employees_image {
 text-align: center;
  padding-top: 169px;

}
#project-image{
    max-height: 127px;
    min-height: 126px;
}

#custom_table tr{
    border-bottom: 1px solid #ddd;
}
#role-label h6{
    padding-right: 5px;
     margin: 0;
     text-align: left;
     font-size: 14px;
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 3px;
    line-height: 10px;
  
}

#email-label h6{
    padding-right: 5px;
 text-align: left;    
 font-size: 14px;
    font-weight: bold;
        margin-top: 0;
    margin-bottom: 3px;
    line-height: 10px;
}
#user-bitrh h6{
    
     float:left;
}
#custom-table-skills td{
    border-top:0;
}

.ajax-wrapper-popup{
  
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.ajax-wrapper-popup .ajax-wrapper-popup-content{
    
    margin:200px auto 0px auto;
  
    width:400px;
    height: 400px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}


label.control-label form-item.form-item-start-date.form-type-date-select.form-group{
    margin-left: -470px;
 }
.form-item.form-item-start-date.form-type-date-select.form-group{ 
    margin: 20px 0; 
}

control-label.form-item.form-item-end-date.form-type-date-select.form-group {
    margin-left: -470px;
    
} 
 
#role-label {
  padding-top: 10px;  
}