/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2019, 3:04:22 PM
    Author     : rragimov
*/

#block-ajax-popup-custom-ajax-popup
{
  /* Hide the block */
  display:none;
 
  /* Center it on the page for when it is shown */
  position: fixed;
  height: 250px;
  top: 50%;
  margin-top: -125px; /* half of height (negative) */
  width: 300px;
  left: 50%;
  margin-left: -150px; /* half of width (negative) */
 
  /* Give it some styling to make it look nice */
  background-color:#FFF;
  border:solid black 3px;
  border-radius:5px;
  padding:10px;
}
 
/* Fix the width of the text field */
#block-ajax-popup-custom-ajax-popup .form-text
{
	width:100%;
	box-sizing:border-box;
}